<!DOCTYPE html>
<html>
<head>
  <title>{{ .title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/site.js"></script>
</head>
<body>
  <div>
    {{ if .tasks }}
      <div class="container">
        <h3>Kiwix Zims:</h3>
        <table>
          <tbody>
            {{ range $idx, $d := .tasks }}
              <tr>
                <td>{{ $d.SourceUrl }}</td>
                <td>{{ $d.RepoCommit }}</td>
                <td><button class="right">Update</button></td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    {{ end }}
  </div>
</body>
</html>